:root {
    --fill-1:#F7F8F1;
    --border-2: #E5E6EB;
    --white-1: #FFFFFF;
    --text-2: #4E5969;
    --text-1: #1D2129;
    --text-4:#C9CDD4;
    --text-5: #86909C;
    --green-1: rgba(123, 225, 136, 1);
    --green-1-60: rgba(123, 225, 136, 0.6);
}